html {
	background-attachment: fixed;
	background-color: #5C195B;
	background-image: url("/images/bali-2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

body {
	border: 4px solid black;
	font-size: 100%;
	font-weight: normal;
	margin: 0 auto;
	min-height: 800px;
	min-width: 100%;
	padding-top: 10px;
}

.container {
	color: #E68F51;
	font-family: "Palatino Linotype", "Book Antiqua", serif;
}

header {
	background-color: #5C195B;
	height: 120px;
	margin: 0;
	padding: 1em;
}

h1, header p {
	text-align: center;
}

h1 {
	padding-bottom: 12.5px;
}

header {
	font-size: 1em;
}

footer p {
	font-size: .75em;
}

.embed-responsive {
	height: 50%;
	width: 50%;
}

footer {
	background-color: #393939;
	height: 35px;
	padding: .5em 1em 0 0;
	text-align: right;
}
